﻿<%@ Page Title="Monitoring Report" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Report.aspx.cs" Inherits="Report" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron">
        <h2>Data Monitoring Report</h2>
    </div>
    <div class="row">
        
    </div>
</asp:Content>
