﻿@model Mvc4InSys.Models.tbAuditTrail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbAuditTrail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LogID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccessTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccessTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatabaseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatabaseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActionDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActionDescription)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
