﻿@*@model IEnumerable<Mvc4InSys.Models.tbAuditTrail>*@
@model PagedList.IPagedList<Mvc4InSys.Models.tbAuditTrail>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Audit Trail</h2>

@using (Html.BeginForm("Index", "UserLog", FormMethod.Get))
{
    <p>
        User ID &nbsp;&nbsp; : @Html.TextBox("sSearchUserID", ViewBag.sSearchUserID as string)<br />
        Database : @Html.TextBox("sListDatabaseName", ViewBag.sListDatabaseName as string)<br />
        <input type="submit" value="Search" /></p>
}


<table>
    @{ if (@Model.PageCount!=0)
       {
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.LogID)*@
            LogID
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AccessTime)*@
            AccessTime
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UserId)*@
            UserId
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DatabaseName)*@
            DatabaseName
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ActionDescription)*@
            ActionDescription
        </th>
    </tr>
    }
    else
    {
       <h3>No record found</h3>
       }
    }
@{
    int iIndex=1;
    string sClass;

    if(Model!=null)
    {
        foreach (var item in Model) {
            if (iIndex % 2 != 0)
            {
                sClass = "tdganjil";
            }
            else
            {
                sClass = "tdgenap";
            }
            <tr>
                <td class="@sClass">
                    @Html.DisplayFor(modelItem => item.LogID)
                </td>
                <td class="@sClass">
                    @Html.DisplayFor(modelItem => item.AccessTime)
                </td>
                <td class="@sClass">
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td class="@sClass">
                    @Html.DisplayFor(modelItem => item.DatabaseName)
                </td>
                <td class="@sClass">
                    @Html.DisplayFor(modelItem => item.ActionDescription)
                </td>
               
            </tr>
            iIndex++;
        }
    }   
}
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page,sSearchUserID = ViewBag.sSearchUserID, sListDatabaseName = ViewBag.sListDatabaseName}))
