﻿@model Mvc4InSys.Models.tbUserLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log In</h2>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.UserID)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <input type="submit" value="Login" />
        </fieldset>
    </div>
}