﻿@model PagedList.IPagedList<Mvc4InSys.Models.tbAuditTrail>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Audit Trail";
}

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @using (Html.BeginForm("Index", "Audit Trail", FormMethod.Get))
    {    
         <p> User ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: @Html.TextBox("sSearchUserID",ViewBag.sSearchUserID as string)<br />
             Database &nbsp;&nbsp;&nbsp;&nbsp;: @Html.DropDownList("sListDatabaseName", ViewBag.sListDatabaseName as string)<br />
             @*Action Description : @Html.TextBox("sSearchAction")<br />*@
             <input type="submit" value="FILTER" />
         </p> 
        }
</p>
<h2>Audit Trail</h2>

<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.LogID)*@
            LogID
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AccessTime)*@
            AccessTime
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UserId)*@
            UserId
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DatabaseName)*@
            DatabaseName
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ActionDescription)*@
            ActionDescription
        </th>
        @*<th></th>*@
    </tr>

@{
    int iIndex=1;
    string sClass;

    if(Model!=null)
    {
        if (@Model.PageCount==0)
        {
        
        }
        else
        {
            foreach (var item in Model) {
                if (iIndex % 2 != 0)
                {
                    sClass = "tdganjil";
                }
                else
                {
                    sClass = "tdgenap";
                }
                <tr>
                    <td class="@sClass">
                        @Html.DisplayFor(modelItem => item.LogID)
                    </td>
                    <td class="@sClass">
                        @Html.DisplayFor(modelItem => item.AccessTime)
                    </td>
                    <td class="@sClass">
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td class="@sClass">
                        @Html.DisplayFor(modelItem => item.DatabaseName)
                    </td>
                    <td class="@sClass">
                        @Html.DisplayFor(modelItem => item.ActionDescription)
                    </td>
               
                </tr>
                iIndex++;
            }
        }
    }   
}
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page,sSearchUserID=ViewBag.sSearchUserID,sListDatabaseName=ViewBag.sListDatabaseName}))

@*<div class="pager">
	<p>@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)</p>
</div>*@