﻿@model Chart
@{
    ViewBag.Title = "Graphic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Graphic</h2>
<br />
<form>
    
<select id="SelectChart" onchange="location = this.options[this.selectedIndex].value;">
    <option selected="selected" value=@Url.Action("Index")>Success Download</option>
    <option value=@Url.Action("OnProgressChart")>Download on Progress</option>
    <option value=@Url.Action("GroupChart")>TID per Group</option>
    <option value=@Url.Action("RegionChart")>TID per Region</option>
    <option value=@Url.Action("CityChart")>TID per City</option>
</select>
 <br />
     <br />
<img src="@Url.Action("DrawChartInitTrail", new { name = "myChart" })" alt="SimpleChart" /> 
 
</form>


