﻿@model Chart
@{
    ViewBag.Title = "RegionChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RegionChart</h2>
<br />
<form>
   <select id="SelectChart" onchange="location = this.options[this.selectedIndex].value;">
    <option value=@Url.Action("Index")>Success Download</option>
    <option value=@Url.Action("OnProgressChart")>Download on Progress</option>
    <option value=@Url.Action("GroupChart")>TID per Group</option>
    <option selected="selected" value=@Url.Action("RegionChart")>TID per Region</option>
    <option value=@Url.Action("CityChart")>TID per City</option>
</select>
 <br />
     <br />
    <img src="@Url.Action("DrawChartRegion", new { name = "myChart" })" alt="SimpleChart" />
</form>