﻿<!DOCTYPE html>
<html lang="en">
    @functions{
        
        public bool bValid(string sParameter, string sUserID)
        {
            return Mvc4InSys.Models.tbUserLogin.IsAllowed(sUserID, sParameter);
        }
    }
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="@Url.Content("~/Content/jqsimplemenu.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jqsimplemenu.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
        <script src="../../Scripts/highcharts.js" type="text/javascript"></script>
    </head>
    <body>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.menu').jqsimplemenu();
            });
        </script>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("InSys v5.00", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    @if (Request.IsAuthenticated) {
                    <section id="login">
                            Hello, <span class="username">@User.Identity.Name.ToUpper()</span>!
                            @Html.ActionLink("Log Out", "Logout", "Login")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @* WA and WS from privilage Insys *@
                            @if (@bValid("WA", @User.Identity.Name.ToUpper()))
                            {
                                <li>@Html.ActionLink("Audit Trail", "Index", "UserLog")</li>
                            }
                            @if (@bValid("WS", @User.Identity.Name.ToUpper()))
                            {
                                <li>@Html.ActionLink("Init Software Progress", "Index", "SoftwareProgress")</li>
                            }
                            @*<li>@Html.ActionLink("Init Software Trail", "Index", "AuditInitSoftware")</li>*@
                            @*<li>@Html.ActionLink("Statistic Init Software", "Index", "Graph")</li>*@
                        </ul>
                    </nav>
                    }
                </div>
            </div>
        </header>   
        
                    
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
             
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year PT. Ingenico International Indonesia</p>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
