﻿@{
    List<Mvc4InSys.Models.ClassMenu> menuList = ViewBag.Menu;
}
<ul class="menu">  
    @foreach (var mp in menuList.Where(p => p.ParentId == 0))
    {
    <li><a href="#">@mp.Name</a> 
        @if( menuList.Count(p=>p.ParentId == mp.Id ) > 0){
            @:<ul>
        }  
        
        @RenderMenuItem(menuList,mp)
       
        @if( menuList.Count(p=>p.ParentId == mp.Id ) > 0){
            @:</ul>
        }
    </li>
    }
</ul>


@helper RenderMenuItem(List<MvcInSys.Models.ClassMenu> menuList, MvcInSys.Models.ClassMenu mi)
{
    foreach (var cp in menuList.Where(p => p.ParentId == mi.Id))
    {
        @:<li class="menu">
            <a href="#">@cp.Name</a>
        if(menuList.Count(p=>p.ParentId == cp.Id) > 0)
        {
            @:<ul class="menu">
        }
        @RenderMenuItem(menuList,cp)
        if(menuList.Count(p=>p.ParentId == cp.Id) > 0)
        {
            @:</ul>
        }
        else
        {
            @:</li>
        }
    }
}