﻿@model Mvc4InSys.Models.tbSoftwareProgress

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbSoftwareProgress</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EdcGroup)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EdcGroup)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EdcRegion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EdcRegion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TerminalID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TerminalID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Software)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Software)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoftwareDownload)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoftwareDownload)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SerialNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SerialNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Percentage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Percentage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FinishInstallTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinishInstallTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InstallStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InstallStatus)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
