﻿@model Mvc4InSys.Models.tbSoftwareProgress

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbSoftwareProgress</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EdcGroup)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EdcGroup)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EdcRegion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EdcRegion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TerminalID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TerminalID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Software)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Software)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoftwareDownload)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoftwareDownload)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SerialNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SerialNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Percentage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Percentage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FinishInstallTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinishInstallTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InstallStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InstallStatus)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
