﻿@model Mvc4InSys.Models.tbSoftwareProgress

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbSoftwareProgress</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.EdcGroup)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EdcGroup)
            @Html.ValidationMessageFor(model => model.EdcGroup)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EdcRegion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EdcRegion)
            @Html.ValidationMessageFor(model => model.EdcRegion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TerminalID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TerminalID)
            @Html.ValidationMessageFor(model => model.TerminalID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Software)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Software)
            @Html.ValidationMessageFor(model => model.Software)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoftwareDownload)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoftwareDownload)
            @Html.ValidationMessageFor(model => model.SoftwareDownload)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNumber)
            @Html.ValidationMessageFor(model => model.SerialNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndTime)
            @Html.ValidationMessageFor(model => model.EndTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Percentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Percentage)
            @Html.ValidationMessageFor(model => model.Percentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FinishInstallTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FinishInstallTime)
            @Html.ValidationMessageFor(model => model.FinishInstallTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InstallStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InstallStatus)
            @Html.ValidationMessageFor(model => model.InstallStatus)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
