﻿@model PagedList.IPagedList<Mvc4InSys.Models.tbSoftwareProgress>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_LayoutSoftwareProgress.cshtml";
    ViewBag.Title = "Remote Download Software";
}
<br />
<h2>Init Software Progress</h2>
<table>
    <tr>
        <th>
            Group
        </th>
        <th>
            Region
        </th>
        <th>
            City
        </th>
        <th>
            TerminalID
        </th>
        <th>
            Software
        </th>
        <th>BuildNumber</th>
        <th>SoftwareDownload</th>
        <th>SerialNumber</th>
        <th>StartTime</th>
        <th>EndTime</th>
        <th>Percentage</th>
        <th>FinishInstallTime</th>
        <th>InstallStatus</th>
    </tr>
@{
    int iIndex=1;
    string sClass;

    if(Model!=null)
    {
        foreach (var item in Model) {
            if (iIndex % 2 != 0)
            {
                sClass = "tdganjil";
            }
            else
            {
                sClass = "tdgenap";
            }    
        <tr>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.EdcGroup)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.EdcRegion)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.EdcCity)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.TerminalID)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.Software)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.BuildNumber)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.SoftwareDownload)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td class="@sClass" >
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.FinishInstallTime)
            </td>
            <td class="@sClass">
                @Html.DisplayFor(modelItem => item.InstallStatus)
            </td>        
        </tr>
        iIndex++;
         }
     }
}
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page}))
