﻿@model Mvc4InSys.Models.tbAuditInitSoftware

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbAuditInitSoftware</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TerminalId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TerminalId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Software)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Software)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SerialNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SerialNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusDesc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusDesc)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
