﻿@model Mvc4InSys.Models.tbAuditInitSoftware

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbAuditInitSoftware</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.InitID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InitID)
            @Html.ValidationMessageFor(model => model.InitID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TerminalId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TerminalId)
            @Html.ValidationMessageFor(model => model.TerminalId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Software)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Software)
            @Html.ValidationMessageFor(model => model.Software)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNumber)
            @Html.ValidationMessageFor(model => model.SerialNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InitTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InitTime)
            @Html.ValidationMessageFor(model => model.InitTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StatusDesc)
            @Html.ValidationMessageFor(model => model.StatusDesc)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
