﻿@model IEnumerable<Mvc4InSys.Models.tbAuditInitSoftware>

@{
    ViewBag.Title = "Audit Init Software Trail";
}

<h2>Audit Init Software</h2>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @using (Html.BeginForm()){    
         <p> Terminal ID : @Html.TextBox("sSearchTID")<br />
             Serial Number : @Html.TextBox("sSearchSN")<br />
             Software Name : @Html.TextBox("sSearchSoftware")<br />
             <input type="submit" value="Filter" />
         </p> 
        }
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Software)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitTime)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.StatusDesc)
        </th>*@
        @*<th></th>*@
    </tr>
    
@{
    int iIndex=1;
    string sClass;

    if(Model!=null)
    {
        foreach (var item in Model)
        {
            if (iIndex % 2 != 0)
            {
                sClass = "tdganjil";
            }
            else
            {
                sClass = "tdgenap";
            }
            <tr >
                <td class="@sClass">
                    @Html.DisplayFor(modelItem => item.InitID)
                </td>
                <td class="@sClass">
                    @Html.DisplayFor(modelItem => item.TerminalId)
                </td>
                <td class="@sClass">
                    @Html.DisplayFor(modelItem => item.Software)
                </td>
                <td class="@sClass">
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td class="@sClass">
                    @Html.DisplayFor(modelItem => item.InitTime)
                </td>
                @*<td class="@sClass">
                    @Html.DisplayFor(modelItem => item.StatusDesc)
                </td>*@
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
            iIndex++;
        }
    }
}

</table>
