﻿<%@ Page Title="Log Out" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Logout.aspx.cs" Inherits="Account_Logout"Async="true" %>

<asp:Content ID="Content" ContentPlaceHolderID="MainContent" runat="server">
    <%--<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">--%>
    <h2><%: Title %>.</h2>

</asp:Content>

